:root{
  --dark-color:#34313D;
  --white-color:#FFFFFF;
  --content-color:#2BD0D0;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); 
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , "Arial", sans-serif;
  overflow-x: hidden;
}

.container{
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img{
  vertical-align: middle;
}



/* Header */

.header{
  padding: 48px 0;
}

.header__inner{
  display: flex;
  align-items: center;
}

.header__logo{
  display: inline-block;
  margin-right: 45px;
}

.header__nav{
  margin-right: auto;
}

.nav__list{
  margin: 0;
  padding: 0;list-style: none;
  display: flex;
  align-items: center;
}

.nav__item{
  width: 100%;
  margin-right: 30px;
}

.nav__link{
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #9E9AA8;
transition:all 0.3s ease;
}

.nav__link:hover{
  color: var(--dark-color);
}





.right__link{
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
color: #9E9AA8;
}

.right__link:hover{
  color: var(--dark-color);
  transition: all 0.3s ease;
}

.right__send{
  display: inline-block;
  margin-left: 37px;
  padding: 8px 23px;
  color: var(--white-color);
  background-color: #2BD0D0;
  border-radius: 28px;
}

.right__send:hover{
  color: var(--white-color);
  background-color:#9AE3E3;
  color: var(--white-color);
}


/* Hero */

.hero{
  padding-top: 100px;
  padding-bottom: 222px;
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: 733px 482px;
  background-position: calc(50% + 495px) calc(50% - 122px);
  position: relative;
}

.hero__info{
  width: 100%;
  max-width: 565px;
}

.hero__title{
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 90px;
letter-spacing: -2px;
color: var(--dark-color);
}

.hero__text{
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 36px;
letter-spacing: 0.15px;
color: #9E9AA8;
}

.hero__wrap{
  width: 540px;
}

.hero__text{
  margin: 0;
  margin-bottom: 38px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 36px;
letter-spacing: 0.15px;
color: #9E9AA8;
}

.hero__link{
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: var(--white-color);
padding: 13px 40px;
background-color:var(--content-color);
border-radius: 28px;
transition: all 0.3s ease;
}

.hero__link:hover{
background-color: #9AE3E3;
}

.hero__form{
  width: 1110px;
  padding: 52px 65px;
  background-image: url(../images/bk-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -85px;
}


.form__input{
  width: 769px;
  height: 64px;
  background-color: var(--white-color);
border-radius: 10px;
padding: 14px 32px;
position: relative;
}

.form__span{
  top: 120px;
  left: 70px;
  position: absolute;
  font-family: 'Poppins';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #F46363;
opacity: 0;
}

.form__input:not(:placeholder-shown):not(:focus):invalid{
  color: #F46363;
  border: 3px solid #F46363;
}

.form__input:not(:placeholder-shown):not(:focus):invalid ~ .form__span{
  opacity: 1;
}

.form__input:not(:placeholder-shown):not(:focus):valid{
  color:green;
  border: 3px solid green;
}




.form__input::placeholder{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
color: var(--dark-color);
opacity: 0.5;
}



.form__button{
  display: inline-block;
  border: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: var(--white-color);
padding: 17px 40px;
background-color: var(--content-color);
border-radius: 10px;
transition: all 0.3s ease;
}

.form__button:hover{
  background-color: #9AE3E3;
}


/* <!-- Advenced --> */

.advenced{
  padding:205px 0 315px 0;
  background-color:  #EFF1F7;
}

.advenced__info{
  width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 250px;
}

.advenced__title{
  margin: 0;
  margin-bottom: 18px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: -1px;
color: var(--dark-color);
}

.advenced__text{
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.122727px;
color: #9E9AA8;
}

.advenced__wrap{
  width: 100%;
  height: 8px;
  background-color: var(--content-color);
  position: relative;
}

.advenced__list{
  position: absolute;
  top: -152px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.advenced__item{
  width: 350px;
  padding: 77px 32px 41px 32px;
  background-color: var(--white-color);
  border-radius: 5px;
  margin-right: 30px;
}

.item__title{
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}

.item__text{
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 26px;
color: #9E9AA8;
}

.advenced__item:nth-child(1){
  position: relative;
}

.advenced__item:nth-child(1)::before{
  content: "";
  width: 88px;
  height: 88px;
  top: -44px;
  left: 23px;
  position: absolute;
  background-image: url(../images/li-one.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.advenced__item:nth-child(2){
  position: relative;
  position: relative;
  top: 47px;
}

.advenced__item:nth-child(2)::before{
  content: "";
  width: 88px;
  height: 88px;
  top: -44px;
  left: 23px;
  position: absolute;
  background-image: url(../images/li-two.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.advenced__item:nth-child(3){
  position: relative;
  margin-right: 0;
  position: relative;
  top: 88px;
}

.advenced__item:nth-child(3)::before{
  content: "";
  width: 88px;
  height: 88px;
  top: -44px;
  left: 23px;
  position: absolute;
  background-image: url(../images/li-two.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


/* <!-- Boost --> */

.boost{
  padding: 57px 0;
  background-image: url(../images/bk-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boost__title{
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: -1px;
color: var(--white-color);
}

.boost__wrap{
  display: flex;
  justify-content: center;
}

.boost__link{
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: var(--white-color);
padding: 13px 40px;
background-color: #2BD0D0;
border-radius: 28px;
transition: all 0.3s ease;
}

.boost__link:hover{
  background-color: #9AE3E3;
}

/* footer */

footer{
  padding: 70px 0px;
  background-color: #232127;
}

.footer__inner{
  display: flex;
  align-items: flex-start;
}

.footer__logo{
  display: inline-block;
  margin-right: auto;
}

.footer__info:nth-child(2){
  margin-right:80px;
}

.footer__info:nth-child(3){
  margin-right:105px;
}

.footer__info:nth-child(4){
  margin-right:105px;
}

.menu__title{
  display: inline-block;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.25px;
color: var(--white-color);
margin-bottom: 22px;
}

.menu__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item{
  margin-bottom: 10px;
}

.menu__link{
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
letter-spacing: -0.234375px;
color: #BFBFBF;
transition: all 0.5s ease;
}

.menu__link:hover{
  color: var(--content-color);
}

.icon__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.icon__item{
  margin-right: 24px;
}

.icon__item:last-child{
  margin-right: 0;
}

.icon__link{
  color: var(--white-color);
  transition: all 0.3s ease;
}

.icon__link:hover{
  color:var(--content-color);
}

